<div id="lightgallery" class="photoWrapper">
     <a data-fslightbox href="/img/{{Picture.Id}}/original{{Picture.Ext}}"> 
          <img 
               style=" width: 100%; height: calc(100% - 0px); object-fit: contain; object-position: center center;"
               src="/img/{{Picture.id}}/xlarge.webp" 
               srcset="
                    {{#each ImgSizes}}
                    /img/{{Picture.id}}/{{@key}}.webp {{this}}w,
                    {{/each}}
               "
               
               class="img-fluid rounded lazy" 
               alt="{{#if Picture.Caption }}{{ Picture.Caption }}{{else}}{{ Picture.Name }}{{/if}}"
               data-src="/img/{{Picture.id}}/original{{Picture.Ext}}"  />
     </a>
</div>

<footer class="footer mt-auto py-3 bg-black" style="z-index: 9999;">
     {{#if PreImagePath }}
          <div style="position: absolute; left:0px; top:0px; bottom: 0px; padding: 15px 15px 15px 30px;">
               <a href="/photo/{{ PreImagePath }}" style="color: white;" alt="Navigate to previous Image"><i class="fa-solid fa-chevron-left fa-2x"></i></a>
          </div>
     {{/if}}
     <div class="container">
          <span style="font-size: 20px;">{{#if Picture.Caption }}{{ Picture.Caption }}{{else}}{{ Picture.Name }}{{/if}}</span>
     </div>
     {{#if NextImagePath }}
          <div style="position: absolute; right:0px; top:0px; bottom: 0px; padding: 15px 30px 15px 15px;">
               <a href="/photo/{{ NextImagePath }}" style="color: white;" alt="Navigate to next Image" ><i class="fa-solid fa-chevron-right fa-2x"></i></a>
          </div>
     {{/if}}
</footer>

<div style="width: 100%; padding: 40px 40px">
     <div class="row justify-content-center">
          <div class="col-lg-7">
               <table class="table photo-table" style="text-align: center; line-height: 50px;">
                    <tbody>
                         <tr>
                              <th scope="row">
                                   <img src="/assets/img/icons/camera.svg" width="50px" alt="camera icon">
                              </th>
                              <td>{{Picture.Exif.camera}}</td>
                         </tr>
                         <tr>
                              <th scope="row">
                                   <img src="/assets/img/icons/focal-length.svg" width="50px" alt="focal icon">
                              </th>
                              <td>{{Picture.Exif.FocalLength}} mm</td>
                         </tr>
                         <tr>
                              <th scope="row">
                                   <img src="/assets/img/icons/apature.svg" width="50px" alt="apature icon">
                              </th>
                              <td>f/{{Picture.Exif.FStop}}</td>
                         </tr>
                         <tr>
                              <th scope="row">
                                   <img src="/assets/img/icons/timer.svg" width="50px" alt="timer icon">
                              </th>
                              <td>{{Picture.Exif.ShutterSpeed}}</td>
                         </tr>
                         <tr>
                              <th scope="row">
                                   <img src="/assets/img/icons/iso.svg" width="50px" alt="iso icon">
                              </th>
                              <td>{{Picture.exif.ISO}}</td>
                         </tr>
                         <tr>
                              <th scope="row">
                                   <img src="/assets/img/icons/albums.svg" width="50px" alt="album icon">
                              </th>
                              <td>
                                   <a href="/album/{{Picture.Album}}">{{Picture.AlbumName}}</a>
                              </td>
                         </tr>
                         <tr>
                              <th scope="row">Date Taken</th>
                              <td>
                                   <span id="dateTaken">{{Picture.Exif.DateTaken}}</span>
                              </td>
                         </tr>
                    </tbody>
               </table>
          </div>
          <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.5.0/dist/lazyload.min.js"></script>
          <script src="https://hammerjs.github.io/dist/hammer.js"></script>
          <script src="/assets/js/fslightbox.js"></script>
          <script>
               window.onload = function () {
                    var customDate = document.getElementById('dateTaken').innerHTML;
                    let date = new Date(customDate.split(' +')[0])
                    date = date.toLocaleDateString('en-us', { weekday: "long", year: "numeric", month: "short", day: "numeric" })
                    document.getElementById('dateTaken').innerHTML = date;
                    
                    let PreImagePath = "{{ PreImagePath }}"
                    let NextImagePath = "{{ NextImagePath }}"

                    PreImagePath = PreImagePath ?  PreImagePath : "{{Picture.id}}"
                    NextImagePath = PreImagePath ?  NextImagePath : "{{Picture.id}}"


                    document.addEventListener('keydown', (e) => {
                         switch(e.code){
                              case "ArrowLeft": window.location = "/photo/"+PreImagePath; break
                              case "ArrowRight": window.location = "/photo/"+NextImagePath; break
                              default: return;
                         }
                    });
                    
                    var mc = new Hammer(document.body, {recognizers: [[Hammer.Pan, { direction: Hammer.DIRECTION_HORIZONTAL, pointers: 1, threshold: 10 }]]});
                    mc.on("panleft panright", function(ev) {
                         ev.preventDefault();
                         if (ev.eventType !== Hammer.INPUT_MOVE) return;
                         if (ev.pointerType == 'touch' && (Math.abs(ev.deltaX) <= Math.abs(ev.deltaY)+5)) return;
                         if (ev.srcEvent.type !== 'pointercancel') {
                              switch(ev.type){
                                   case "panright": window.location =  "/photo/"+PreImagePath; break
                                   case "panleft": window.location = "/photo/"+NextImagePath; break
                                   default: return;
                              }
                         }
                    });

                    var lazyLoadInstance = new LazyLoad({});
                    lazyLoadInstance.update();
               }
          </script>

          {{#if Picture.Exif.GPS.Lat }}
          <div class="col-lg">
               <div id="map" style="height: 100%; min-height: 400px; width: 100%;"></div>
               <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script>
               <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4M29iazA2Z2gycXA4N2pmbDZmangifQ.-g_vE53SD2WrJ6tFX7QHmA';
                    const map = new mapboxgl.Map({
                         container: 'map', // container ID
                         style: 'mapbox://styles/mapbox/streets-v11', // style URL
                         center: [{{ Picture.Exif.GPS.Lng }}, {{ Picture.Exif.GPS.Lat }}], // starting position [lng, lat]
                    zoom: 10 // starting zoom
                    });
               </script>
          </div>
          {{/if}}
     </div>
</div>