<a href="/album/{{this.Id}}">
    <div class="card">
        <picture>
            {{#if this.ProfileID}}
                <img src="/img/{{this.ProfileID}}"  alt="{{this.Name}}">
            {{else}}
                <img src="/assets/img/placeholder.png"  alt="{{this.Name}}">
            {{/if}}
        </picture>
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">{{this.Name}}</h5>
        </div>
    </div>
</a>