{{ define "albums" }}
<a href="/album/{{.Id}}">
    <div class="card rounded">
        <picture>
            {{if .ProfileID}}
                <img 
                    alt="{{.Name}}" 
                    src="/img/{{.ProfileID}}/xlarge.webp" 
                    srcset="
                    {{range $key, $val := ImgSizes}}
                        /img/{{$.ProfileID}}/{{$key}}.webp {{$val}}w,
                    {{end}}
                    "
                    sizes="(min-width: 960px) 540px, 100vw"
                    class="img-fluid rounded"/>
            {{else}}
                <img src="/assets/img/placeholder.png"  alt="{{.Name}}" class="img-fluid rounded">
            {{end}}
        </picture>
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">{{.Name}}</h5>
        </div>
    </div>
</a>
{{end}}