<a href="/album/{{this.Id}}">
    <div class="card rounded">
        <picture>
            {{#if this.ProfileID}}
                <img 
                    alt="{{this.Name}}" 
                    src="/img/{{this.ProfileID}}/xlarge.webp" 
                    srcset="
                        {{#each ImgSizes}}
                        /img/{{this.ProfileID}}/{{@key}}.webp {{this}}w,
                        {{/each}}
                    "
                    sizes="(min-width: 960px) 540px, 100vw"
                    class="img-fluid rounded"/>
            {{else}}
                <img src="/assets/img/placeholder.png"  alt="{{this.Name}}" class="img-fluid rounded">
            {{/if}}
        </picture>
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">{{this.Name}}</h5>
        </div>
    </div>
</a>