{{ define "gallery" }}
<div class="row g-3">
    {{range $img := .Images}}

    <div class="col-sm-12 col-md-6 col-lg-3">
        <picture>
            <a href="/photo/{{$img.Id}}">
                <img loading=lazy  width="100%" alt="{{$img.Name}}" 
                src="/img/{{.Id}}/xlarge.webp" 
                srcset="
                    {{range $key, $val := ImgSizes}}
                    /img/{{$img.Id}}/{{$key}}.webp {{$val}}w,
                    {{end}}
                "
                sizes="
                    (min-width: 1200px) 640px,
                    (min-width: 960px) 350px,
                    (min-width: 750px) 1024px, 
                    1600px
                "
                class="img-fluid rounded"/>
            </a>
        </picture>
    </div>
    {{end}}
</div>
{{end}}